@media screen and (max-width: 1400px) {
    .header__menu_list {
        width: 50%;
    }
    .cite__header {
        width: 60%;
    }
    .about {
        height: 90vh;
        padding-top: 20px;
    }
    .about__text {
        width: 70%;
    }
    .about__article_text {
        line-height: 1.9rem;
    }
    .icon-title {
        width: 130px;
        height: 35px;
        margin-bottom: 18px;
    }
    .works {
        height: 70vh;
    }
    .works__block.item {
        /* .owl-item */
        width: 83%;
        height: 100%;
        margin-bottom: 18px;
    }
    .img-description {
        top: 6%;
    }
    .service {
        height: 130vh;
    }
    .service__content {
        justify-content: center;
    }
    .service__block_item {
        width: 80%;
    }
    .elements__container {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .menu__menu {
        padding-right: 10%;
    }
    .about__container {
        width: 95%;
    }
    .team {
        height: 90vh;
    }
    .skills  {
        height: 80vh;
    }
    .skills__block {
        height: 60%;
    }
    .service__content {
        justify-content: center;
    }
    .service__block,
    .service__block:last-child {
        width: 33%;
    }
    .service__block:nth-child(2) {
        width: 28%;
    }

    .service__block:last-child {
        text-align: unset;
    }
    .service__block_item {
        width: 95%;
        padding: 0;
    }
    .service__icon,
    .service__block:last-child .service__icon {
        justify-content: center;
    }
    .price {
        height: 90vh;
    }
    .elements {
        height: 110vh;
    }
    .elements__container {
        width: 90%;
        height: 70%;
    }

}

@media screen and (max-width: 992px) {
.menu-icon {
    display: block;
    }
    .header__menu_list {
        display: none;
        flex-direction: column;
        width: 20vw;
        height: 60vh;
        position: absolute;
        top: 100px;
        right: 0;
        color: #000;
        background: rgba(0,0,0,0.6);
    }
    .header__menu_item {
        width: 100%;
        height: 11%;
    }
    /* .submenu {
        top: 0;
        left: 0;
        background: #fff;
    }
    .header__menu_button-small:checked+.header__menu_list.sumbenu {
        transform: scaleY(1);
        display: flex;
    } */
    .arrow {
        display: none;
    }
    .header__content {
        justify-content: center;
    }
    .about {
        height: 100vh;
    }
    .about__text {
        width: 90%;
    }
        .about__article {
        width: 32%;
    }
    .cite {
        height: 60vh;
    }
    .team {
        height:150vh;
    }
    .team__header {
        height: 10%;
    }
    .skills  {
        height: 90vh;
    }
    .skills__block {
        width: 45%;
    }
    .cite__header {
        width: 85%;
    }
    .works__block_link a {
        width: 60%;
    }
    .portfolio {
        height: 270vh;
    }
    .portfolio__header {
        height: 10%;
    }
    .portfolio__header .menu {
        width: 90%;   
    }
    .portfolio__img-container {
        height: 80%;
    }
    .portfolio__img-block {
        width: 50%;
        height: 25%;
    }
    .portfolio__footer {
        height: 10%;
    }
    .portfolio__footer {
        flex-direction: column;
    }
    .service {
        height: 155vh;
    }
    .service__content {
        justify-content: space-around;
    }
    .service__block:first-child {
        width: 40%;
        margin-left: 8%;
    }
    .service__block:last-child {
        width: 40%;
        margin-right: 8%;
    }
    .service__block:nth-child(2) {
        display: none;
    }
    .price {
        height: 140vh;
    }
    .price__block {
        width: 24%;
    }
}

@media screen and (max-width: 768px) {
    .header__menu_button {
        top: 20px;
        right: 20px;
    }
    .menu-icon {
        top: 20px;
        right: 20px;
     }
     .header__menu_list {
        width: 30vw;
        height: 60vh;
        top: 50px;
        right: 0;
    }
    .header__menu_item a{
        padding-left: 15%;
        box-sizing: border-box;
    }
    .header__text {
        width: 80%;
    }
    .header__button a{
        width: 20%;
    }
    .team {
        height: 180vh;
    }
    #carousel1 .team__image_hover-container {
        height: 60%;
    }
    .team__lable-wrap {
        height: 40%;
    }
    .skills {
        height: 150vh;
    }
    .skills__block {
        height: 38%;
        width: 80%;
        margin-top: 30px;
    }
    .process {
        height: 120vh;
    }
    .process__wrapper {
        width: 85%;
        height: 80%;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .process__block {
        width: 45%;
        height: 30%;
    }
    .works {
        height: 145vh;
    }
    .works__block.item {
        flex-direction: column;
        justify-content: center;
    }
    .owl-carousel .owl-item .works__block_element {
        width: 80%;
    }
    .portfolio {
        height: 700vh;
    }
    .portfolio__header {
        height: 5%;
    }
    .portfolio__img-container {
        height: 90%;
    }
    .portfolio__img-block {
        width: 100%;
        height: 12.5%;
    }
    .portfolio__footer {
        height: 5%;
    }
    .service {
        height: 230vh;
    }
    .service__content { 
        justify-content: space-around;
    }
    .service__block:first-child {
        width: 40%;
        margin-left: 8%;
    }
    .service__block:last-child {
        width: 40%;
        margin-right: 8%;
    }
    .service__block:nth-child(2) {
        display: none;
    }
    .service {
        height: 200vh;
    }
    .service__header {
        height: 10%;
    }
    .service__content {
        height: 90%;
        flex-direction: column;
    }
    .service__block_item {
        width: 80%;
    }
    .service__block:first-child {
        width: 90%;
        height: 50%;
    }
    .service__block:last-child {
        width: 90%;
        height: 50%;
    }
}

@media screen and (max-width: 544px) {}