@media screen and (max-width: 1400px) {
    .header__menu_list {
        width: 50%;
    }
    .cite__header {
        width: 60%;
    }
    .about {
        height: 90vh;
    }
    .about__text {
        width: 70%;
    }
    .about__article_text {
        line-height: 1.9rem;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 544px) {}