@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
body {
    width: 100%;
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(images/28.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    font-family: "Raleway", sans-serif;
}

.header-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
}

.header__menu {
    width: 100%;
    height: 14%;
    margin: 0;
    /* padding: 2%; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    width: 25%;
    margin: 0;
    margin-left: -3%;
    text-align: left;
}

.header__menu_list {
    width: 55%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


/* .header__menu_list:hover {
    
} */

.header__menu_item {
    height: 90%;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.header__menu_item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.07rem;
    font-weight: 500;
    text-transform: uppercase;
}

.header__menu_item i {
    font-size: 0.5rem;
    margin-left: 5px;
}

.dropmenu,
.header__menu_list.submenu {
    display: none;
    position: absolute;
}

.drop {
    position: relative;
}

.submenu .header__menu_item {
    width: 170px;
    height: unset;
    margin-left: 0;
    padding: 10px 18px;
    background: rgba(0, 0, 0, 0.7);
}

.drop:hover .submenu {
    width: 10vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    left: 0;
    top: 100%;
}

.submenu a {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.8);
}

.header__content {
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header__content_logo {
    width: 100%;
    margin: 0;
    text-align: center;
}

.header__head {
    width: 100%;
    margin: 3% 0 1% 0;
    text-align: center;
    font-size: 2.4rem;
    word-spacing: 0.2rem;
}

.header__text {
    width: 60%;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.2rem;
    font-style: italic;
    font-family: Georgia;
    text-align: center;
}

.header__button {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button a,
.arrow {
    text-decoration: none;
    color: #fff;
}

.arrow {
    display: block;
    text-align: center;
    width: 10%;
    margin: 0;
    font-size: 1.2rem;
}

.header__button a {
    width: 9%;
    height: 40%;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    transition: all 400ms;
}

.header__button a:hover {
    background: #c7a674;
}

.background-container {
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(images/33.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.about {
    width: 100%;
    height: 50vh;
    margin: 5% 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

.about__header {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.8);
}

.about__header span {
    font-weight: 800;
}

.about__text {
    width: 40%;
    margin: 0;
    margin-top: -30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.03rem;
    line-height: 2.2rem;
}

.about__container {
    width: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.about__article {
    width: 33%;
}

.about__article_logo {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms;
}

.about__article_logo i {
    font-size: 1.5rem;
}

.about__article_header {
    width: 100%;
    margin: 10% 0 7% 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    text-align: center;
}

.about__article_text {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.5rem;
}

.about__article:hover>.about__article_logo {
    background: #c7a674;
    color: #fff;
}

.cite {
    width: 100%;
    height: 40vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.cite__header {
    width: 40%;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 0.03rem;
    line-height: 2.2rem;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.cite__content {
    width: 100%;
    height: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.cite__content a {
    display: block;
    text-decoration: none;
    color: #fff;
    width: 10%;
    height: 65%;
    background: #c7a674;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: 600;
}

.team {
    width: 100%;
    height: 75vh;
    margin: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid transparent;
    box-sizing: border-box;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.team__header {
    width: 100%;
    height: 15%;
    margin: 0;
    padding-top: 5%;
    box-sizing: border-box;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid transparent;
    margin-bottom: 5%
}

.team__header span {
    font-weight: 100;
}

div.owl-carousel.team__img-wrapper {
    width: 100%;
    height: 75%;
    padding: 0 17% 0 17%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.team__lable-wrap h5,
.team__image_hover-container h5 {
    font-weight: 600;
    letter-spacing: 0.094rem;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.team .links-container {
    display: inline-block;
    text-align: center;
}

.team .links-container a {
    text-decoration: none;
    color: #333;
    margin-right: 7px;
}

.team__lable-wrap p,
.team__image_hover-container p {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    text-align: center;
    font-size: 0.9rem;
    margin-top: -10px;
}

#carousel1 .img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#carousel1 .img-wrapper {
    width: 100%;
    position: relative;
}

#carousel1 .team__image_hover-container {
    position: absolute;
    width: 92%;
    height: 92%;
    top: 4%;
    left: 4%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all 700ms;
}

#carousel1 .img-wrapper:hover>.team__image_hover-container {
    opacity: 1;
}

.skills {
    width: 100%;
    height: 55vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

.skills__header,
.process__header,
.works__header,
.portfolio__header h2,
.service__header h2,
.price__header,
.clients__header,
.elements__header,
.form .cite__header {
    width: 100%;
    height: 15%;
    margin: 0;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 0.14rem;
    font-family: "Raleway", sans-serif;
}

.skills__header span,
.process__header span,
.works__header span,
.portfolio__header h2 span,
.service__header h2 span,
.price__header span,
.clients__header span,
.elements__header span,
.form .cite__header span {
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.skills__block {
    width: 32%;
    height: 50%;
    margin: 1%;
    padding: 0;
}

.skills__block_box {
    width: 100%;
    height: 23%;
    padding: 0;
    margin-bottom: 1%;
    /* display: flex;
    align-content: space-between;
    flex-wrap: wrap; */
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.skills__block_box p {
    /*transform: scaleY(0);*/
    width: 100%;
    height: 60%;
    font-family: 'Raleway', sans-serif;
    color: #666;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
    display: none;
}


/* .skills__block_box:first-child {
    height: 49%;
} */

.skills__block_box:first-child p {
    transform: scaleY(1);
    display: flex;
}

.skills__block_box:first-child h4 {
    height: 40%;
}

.skills__block_box h4 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 0.82rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    background: #f5f5f5;
    color: #333;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.skills__block_box:first-child {
    height: 50%;
}

.skills__block_element {
    width: 100%;
    height: 24%;
    margin: 0;
}

.skills__block_desc {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.skills__block_desc h2 {
    width: 45%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1%;
    box-sizing: border-box;
    font-size: 0.8rem;
    letter-spacing: 0.09rem;
    text-align: left;
    color: #333;
}

.skills__block_desc p {
    font-size: 0.8rem;
    width: 45%;
    height: 100%;
    margin: 0;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-weight: 100;
}

.skills__block_element-outer {
    width: 100%;
    height: 25%;
    margin: 0;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.skills__block_element-inner {
    width: 55%;
    height: 50%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background: rgb(51, 51, 51);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.skills__block_element:nth-child(2) .skills__block_element-inner {
    width: 80%;
}

.skills__block_element:nth-child(3) .skills__block_element-inner {
    width: 40%;
}

.skills__block_element:last-child .skills__block_element-inner {
    width: 70%;
}

.background-container2 {
    background-image: url(images/05.jpg);
}

#carousel2 {
    background: rgba(34, 34, 34, 0.85);
}

#carousel2 .cite__wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#carousel2 .owl-item::before {
    font-family: 'Raleway', sans-serif;
    content: "\"";
    position: absolute;
    bottom: 50%;
    left: 49%;
    color: #fff;
    font-size: 7rem;
    font-family: sans-serif;
}

.cite__content {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-weight: 600;
}

.cite__content span {
    text-transform: none;
    font-weight: 100;
    margin-left: 10px;
}

#carousel2 .owl-stage-outer {
    height: 70%;
    margin: 0;
}

#carousel2 .owl-stage {
    height: 100%;
}

#carousel2 .owl-item {
    margin-top: 50px;
    height: 100%;
}

#carousel2 .owl-nav {
    display: none;
}

#carousel2 .owl-dots {
    text-align: center;
    height: 10%;
    margin: 0;
}

#carousel2 .owl-dot {
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    background: #fff;
    margin-right: 10px;
    border-radius: 50%;
    outline: none;
}

#carousel2 .owl-dot.active {
    transform: scale(1.2);
    border: 1px solid #fff;
    background: transparent;
}


/* #carousel2.owl-carousel .cite .owl-loaded .owl-drag {
    height: 100vh;
} */

.process {
    width: 100%;
    height: 60vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px 2px #f1f1f1;
}

.process__wrapper {
    width: 80%;
    height: 70%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
    box-sizing: border-box;
    position: relative;
}

.process__wrapper::before {
    content: "";
    width: 105%;
    border: 1px dashed #f6f6f6;
    position: absolute;
    top: 40%;
    left: -2.5%;
}

.process__block {
    width: 15%;
    height: 75%;
    margin: 0;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.process__block_icon {
    width: 100px;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    transition: all 300ms;
    background: #fff;
    z-index: 2;
    margin-bottom: 15px;
}

.process__block_icon i {
    font-size: 2rem;
}

.process__block:hover .process__block_icon {
    background: #f6f6f6;
}

.process__block p {
    width: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.75rem;
    letter-spacing: 0.09rem;
    text-align: center;
    color: #333;
    font-weight: 600;
}

.icon-title {
    width: 160px;
    height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    font-size: 0.72rem;
    vertical-align: text-bottom;
    letter-spacing: 0.02rem;
    position: relative;
    transition: all 200ms;
    margin-bottom: -40px;
    transform: scale(0);
}

.icon-title::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
    bottom: -6px;
}

.process__block:hover .icon-title {
    transform: scale(1);
}

.works {
    width: 100%;
    height: 55vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

#carousel3 {
    width: 100%;
    height: 70%;
    margin-top: 5%;
    position: relative;
}

.owl-nav {
    width: 100%;
    position: absolute;
    top: 40%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.owl-nav button {
    width: 60px;
    height: 60px;
    outline: none;
    position: relative;
}

.owl-nav .owl-next::before {
    background: rgba(51, 51, 51, 0.8);
    content: "";
    transform: rotate(45deg);
    height: 120%;
    width: 120%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -60%;
    z-index: -1;
    opacity: 0;
    transition: all 300ms;
}

.owl-nav .owl-prev::before {
    background: rgba(51, 51, 51, 0.8);
    content: "";
    transform: rotate(45deg);
    height: 120%;
    width: 120%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -60%;
    z-index: -1;
    opacity: 0;
    transition: all 300ms;
}

.owl-nav .owl-prev span {
    margin-left: -35%;
    font-size: 2rem;
    color: #fff;
    opacity: 0;
}

.owl-nav .owl-next span {
    margin-right: -35%;
    font-size: 2rem;
    color: #fff;
    opacity: 0;
}

#carousel3:hover>.owl-nav .owl-prev::before,
#carousel3:hover>.owl-nav .owl-next::before {
    opacity: 1;
}

#carousel3:hover>.owl-nav .owl-prev span,
#carousel3:hover>.owl-nav .owl-next span {
    opacity: 1;
}

.owl-nav .owl-next:hover>span,
.owl-nav .owl-prev:hover>span {
    color: #c7a674;
}

.works__block.item {
    /* .owl-item */
    width: 70%;
    height: 50%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works__block.item:nth-child(odd) .works__block_element:last-child {
    order: -1;
}

.owl-carousel .owl-item .works__block_element {
    width: 43%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.owl-carousel .owl-item .works__block_element:last-child {
    align-items: center;
}

.owl-carousel .owl-item .works__block_element img {
    width: 100%;
    height: auto;
}

.works__block_header {
    width: 100%;
    height: 15%;
    margin: 0;
    margin-bottom: 5%;
    font-weight: 900;
    font-size: 1.1rem;
    color: #333;
    letter-spacing: 0.1rem;
}

.works__block_text {
    width: 90%;
    height: 30%;
    margin: 0;
    text-align: left;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
}

.works__block_list {
    width: 100%;
    height: 30%;
    margin: 0;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
}

.works__block_link {
    width: 100%;
    height: 40px;
    margin-bottom: 6%;
}

.works__block_link a {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background: rgb(51, 51, 51);
    font-size: 0.7rem;
    font-weight: 800;
    border-radius: 2px;
    letter-spacing: 0.1rem;
    transition: all 400ms;
}

.works__block_link a:hover {
    background: #c7a674;
}

.works__block_link a i {
    margin: 0;
    margin-left: 10px;
}

.portfolio {
    width: 100%;
    height: 110vh;
    margin: 0;
}

.portfolio__header {
    width: 100%;
    height: 25%;
    margin: 0;
    margin-top: 50px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}

.portfolio__header .menu {
    width: 40%;
    text-align: center;
    margin: 25px;
}

.portfolio__header .menu a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #666;
    margin: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.78rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
}

.portfolio__img-container {
    width: 100%;
    height: 58%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.portfolio__img-block {
    width: 25%;
    height: 50%;
    margin: 0;
    padding: 0;
    position: relative;
}

.portfolio__img-block img {
    width: 100%;
    height: auto;
}

.portfolio__img-block img:hover {
    cursor: pointer;
}

.img-description {
    width: 92%;
    height: 88%;
    position: absolute;
    top: 4%;
    left: 4%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    transform: scale(0);
    transition: all 300ms;
}

.img-description h5 {
    width: 80%;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.094rem;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 0.95rem;
}

.img-description p {
    width: 75%;
    margin: 0;
    margin-bottom: 10px;
    color: #666;
    text-align: center;
    font-size: 0.9rem;
}

.portfolio__links {
    margin-bottom: -30px;
    display: flex;
}

.portfolio__links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    text-decoration: none;
    background: #333;
    margin: 0;
    margin-right: 4px;
    color: #fff;
    font-size: 0.88rem;
    border-radius: 3px;
}

.portfolio__links a:first-child {
    background: #c7a674;
}

.portfolio__links a:hover {
    background: #c7a674;
}

.portfolio__img-block:hover>.img-description {
    transform: scale(1);
}

.portfolio__footer {
    width: 100%;
    height: 17%;
    margin: 0;
    background: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__footer p {
    font-weight: 900;
    letter-spacing: 0.14rem;
}

.portfolio__footer a {
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    background: #c7a674;
    border-radius: 3px;
    margin-left: 15px
}

.service {
    width: 100%;
    height: 87vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

.service__header {
    width: 100%;
    height: 20%;
    margin: 0;
    padding-top: 5%;
    margin-bottom: 3%;
    box-sizing: border-box;
}

.service__header p {
    width: 100%;
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #666;
    letter-spacing: 0.05rem;
    text-align: center;
}

.service__content {
    width: 100%;
    height: 80%;
    margin: 0;
    padding-bottom: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.service__block {
    width: 32%;
    height: 95%;
    margin: 0;
    padding: 0;
}

.service__block:first-child {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
}

.service__block:nth-child(2) {
    text-align: center;
    width: 20%;
}

.service__block:last-child {
    text-align: left;
    width: 35%;
}

.service__block_item {
    width: 60%;
    height: 25%;
    margin: 0;
    display: flex;
}

.content-wrapper {
    width: 75%;
}

.content-wrapper h4 {
    font-family: 'Raleway', sans-serif;
    color: #333;
    letter-spacing: 0.09rem;
    font-size: 0.87rem;
    font-weight: 900;
}

.content-wrapper p {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    line-height: 1.4rem;
    font-size: 0.95rem;
}

.service__icon {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.service__block:last-child .service__icon {
    order: -1;
    justify-content: flex-start;
}

.service__icon i {
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.service__block_item:hover>.service__icon i {
    background: #c7a674;
    color: #fff;
}

.awards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.awards__block {
    width: 17%;
    height: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

.awards__block i {
    display: block;
    font-size: 2rem;
}

.awards__block span {
    display: block;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.price {
    width: 100%;
    height: 80vh;
    margin: 0;
    background: #fff;
    border: 1px solid transparent;
}

.price__header {
    align-items: flex-end;
}

.price__wrapper {
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price__block {
    width: 19%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    background: #f6f6f6;
    border-top: 7px solid #333;
    box-sizing: border-box;
}

.price__block:nth-child(2) {
    border-top-color: #c7a674;
    margin: 0 30px;
}

.price__block h3 {
    text-transform: uppercase;
    color: #333;
    letter-spacing: 0.1rem;
}

.price__block_definition {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}

.price__block_definition .sup {
    font-size: 0.9rem;
    vertical-align: 35px;
    margin-right: 5px;
}

.price__block_definition .sub {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    margin-left: 5px;
}

.price__list {
    list-style: none;
    color: #666;
    margin: 0;
    padding: 0;
    font-size: 0.82rem;
    letter-spacing: 0.07rem;
    text-align: center;
}

.price__list li {
    text-align: center;
    margin: 0;
    margin-top: 8px;
}

.price__list span,
.price__list li:nth-child(4) {
    font-weight: bold;
}

.price__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 8%;
    width: 120px;
    height: 38px;
    background: #333;
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 900;
    border-radius: 2px;
    transition: all 400ms;
}

.price__link i {
    margin-right: 5px;
}

.price__link:hover {
    background: #c7a674;
}

.price__block:nth-child(2) a {
    background: #c7a674;
}

.price__block:nth-child(2) .price__block_definition {
    color: #c7a674;
}

.price__block:nth-child(2) .price__block_definition span {
    color: #333;
}

.promo__header {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    width: 40%;
    text-align: center;
}

#promo-btn {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    padding: 0;
    background: transparent;
    border: none;
    transition: all 400ms;
}

#promo-btn i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    border-radius: 50%;
}

#promo-btn:hover {
    cursor: pointer;
    color: #c7a674;
}

.promo__text {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: #c7a674;
}

.background-container3 {
    background-image: url(images/02_1.jpg);
}

.clients {
    width: 100%;
    height: 40vh;
    margin: 0;
    margin-bottom: 10px;
    background: #fff;
    border-top: 1px solid transparent;
    box-shadow: 0 0 1px 2px #f1f1f1;
}

#carousel4 {
    width: 60%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel4 .item {
    width: 70%;
}

#carousel4 a {
    display: flex;
    width: 100%;
    height: 80%;
    text-decoration: none;
    color: transparent;
}

#carousel4 img {
    width: 100%;
    height: auto;
}

.elements {
    width: 100%;
    padding: 50px 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements__nav {
    width: 55%;
    height: 15%;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.elements__nav_box {
    width: 30%;
    height: 50%;
    color: #333;
    text-align: center;
}

.elements__nav_box i {
    opacity: 0.5;
    font-size: 3rem;
    transition: all .3s;
}

.elements__nav_box i:hover {
    transform: scale(1.05);
    opacity: 1;
    cursor: pointer;
    color: #c7a674;
}

.elements__nav_box p {
    font-size: 0.72rem;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 0.08rem;
    font-family: 'Open Sans', sans-serif;
}

.elements__container {
    width: 55%;
    margin: 0;
}

.elements__block {
    width: 100%;
    margin: 0;
}

.owl-carousel .owl-stage-outer {
    width: 100%;
}

#carousel5.owl-carousel .owl-item img {
    width: 80%;
    margin: 0 auto;
    height: cover;
    object-fit: cover;
}

.elements__block.elements__block-hidden {
    display: none;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.icon__box {
    width: 32%;
    height: 50%;
    margin: 0;
    display: flex;
    align-items: center;
}

.icon-wrapper {
    width: 20%;
    height: 100%;
    margin: 0;
    font-size: 2.4rem;
    text-align: left;
    padding-top: 40px;
}

.icon__box .content-wrapper {
    width: 80%;
    height: 100%;
    margin: 0;
    padding-top: 40px;
}

.icon__box .content-wrapper h4 {
    margin: 0;
    padding-top: 0;
    font-weight: 700;
}

.icon__box:nth-child(3) .content-wrapper,
.icon__box:nth-child(6) .content-wrapper {
    order: -1;
    text-align: right;
}

.icon__box:nth-child(3) .icon-wrapper,
.icon__box:nth-child(6) .icon-wrapper {
    text-align: right;
}

.content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.content__box {
    width: 32%;
    height: 49%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content .icon-wrapper {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background: #c7a674;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
}

.content__box_header {
    font-family: 'Raleway', sans-serif;
    color: #333;
    letter-spacing: 0.09rem;
    font-size: 0.87rem;
    font-weight: 900;
}

.content__box_text {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    line-height: 1.4rem;
    font-size: 0.95rem;
    text-align: center;
}

.cover {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.cover__box {
    width: 32%;
    height: 100%;
    padding: 0;
}

.cover__box img {
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.cover__text-wrapper {
    width: 100%;
    margin: 0;
    margin-top: -2%;
    background: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.cover__text-wrapper h4 {
    font-family: 'Raleway', sans-serif;
    color: #333;
    letter-spacing: 0.09rem;
    font-size: 0.87rem;
    font-weight: 900;
    text-align: center;
}

.cover__text-wrapper p {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    line-height: 1.4rem;
    font-size: 0.95rem;
    text-align: center;
}

.cover__text-wrapper a {
    margin: 0 auto;
    text-decoration: none;
    color: #666;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

.cover__text-wrapper a i {
    font-size: 0.5rem;
    margin-left: 5px;
    vertical-align: middle;
}

.background-container4 {
    background-image: url(images/20.jpg);
}

.form {
    padding: 180px 0;
    display: flex;
    background: rgba(0, 0, 0, .6);
}

.form .cite__header {
    width: 100%;
    color: #fff;
    margin-bottom: 50px;
}

form {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputs-wrapper {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs-wrapper input {
    height: 24%;
    padding: 10px;
    box-sizing: border-box;
    font-style: 'Open Sans', sans-serif;
    letter-spacing: 0.06rem;
    font-size: 0.8rem;
}

#message {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    font-style: 'Open Sans', sans-serif;
    letter-spacing: 0.06rem;
    font-size: 0.85rem;
}

.submit-wrapper {
    width: 100%;
    margin: 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.submit-wrapper input {
    width: 100px;
    height: 100px;
    background: #c7a674;
    border-radius: 50%;
    border: transparent;
    outline: none;
    color: #fff;
    font-size: 0.87rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
}

.submit-wrapper input:hover {
    cursor: pointer;
}

.form .cite__content {
    color: #c7a674;
}

.card {
    width: 100%;
    padding: 0;
    margin: 0;
}

.card iframe {
    width: 100%;
}

.footer__block {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.footer__block:first-child {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.footer__block:last-child {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f6f6f6;
}

.footer__block h4 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #333;
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 0.09rem;
}

.footer__block p,
.copyright {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: 0.9rem;
    font-style: normal;
    line-height: 1.5rem;
}

.footer__block:first-child a,
.copyright a {
    text-decoration: none;
    color: #666;
    font-style: normal;
}

.footer__block:first-child a:hover,
.copyright a:hover {
    color: #c7a674;
}

.footer__block:first-child a span,
.copyright a {
    font-weight: 600;
}

.footer__logo {
    margin-bottom: 20px;
}

.copyright {
    margin-bottom: 20px;
}

.soc-networks {
    display: flex;
}

.soc-networks a {
    text-decoration: none;
    color: #333;
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc-networks a:hover {
    color: #c7a674;
}