body {
    width: 100%;
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(images/28.jpg);
    background-size: 100% auto;
    object-fit: cover;
    font-family: "Raleway", sans-serif;
}

.header-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
}

.header__menu {
    width: 100%;
    height: 14%;
    margin: 0;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
}

.header__logo {
    width: 20%;
    margin: 0;
}

.header__menu_list {
    width: 43%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    border: 1px solid red;
}


/* .header__menu_list:hover {
    
} */

.header__menu_item {
    height: 100%;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.header__menu_item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 0.81rem;
    letter-spacing: 0.07rem;
    font-weight: 500;
    text-transform: uppercase;
}

.header__menu_item i {
    font-size: 0.5rem;
    margin-left: 5px;
}

.dropmenu,
.submenu {
    display: none;
    position: absolute;
}

.drop {
    position: relative;
    border: 1px solid green;
}

.submenu .header__menu_item {
    width: 100%;
    height: 11%;
    margin-left: 0;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.9);
}

.drop:hover .submenu {
    width: 10vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    left: 0;
    top: 120%;
}

.submenu a {
    font-size: 0.7rem;
}

.header__content {
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header__content_logo {
    width: 100%;
    margin: 0;
    text-align: center;
}

.header__head {
    width: 100%;
    margin: 3% 0 1% 0;
    text-align: center;
    font-size: 2.4rem;
    word-spacing: 0.2rem;
}

.header__text {
    width: 60%;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.2rem;
    font-style: italic;
    font-family: Georgia;
    text-align: center;
}

.header__button {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button a,
.arrow {
    text-decoration: none;
    color: #fff;
}

.arrow {
    display: block;
    text-align: center;
    width: 10%;
    margin: 0;
    font-size: 1.2rem;
}

.header__button a {
    width: 9%;
    height: 40%;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    transition: all 400ms;
}

.header__button a:hover {
    background: #c7a674;
}

.background-container {
    background-image: url(images/33.jpg);
    background-attachment: fixed;
}

.about {
    width: 100%;
    height: 90vh;
    margin: 5% 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

.about__header {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.8);
}

.about__header span {
    font-weight: 800;
}

.about__text {
    width: 70%;
    margin: 0;
    margin-top: -30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.03rem;
    line-height: 2.2rem;
}

.about__container {
    width: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.about__article {
    width: 33%;
}

.about__article_logo {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms;
}

.about__article_logo i {
    font-size: 1.5rem;
}

.about__article_header {
    width: 100%;
    margin: 10% 0 7% 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    text-align: center;
}

.about__article_text {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.9rem;
}

.about__article:hover>.about__article_logo {
    background: #c7a674;
    color: #fff;
}

.cite {
    width: 100%;
    height: 45vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.cite__header {
    width: 60%;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 0.03rem;
    line-height: 2.2rem;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.cite__content {
    width: 100%;
    height: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.cite__content a {
    display: block;
    text-decoration: none;
    color: #fff;
    width: 10%;
    height: 65%;
    background: #c7a674;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: 600;
}

.team {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #fff;
    border: 1px solid transparent
}